:root {
    --azul-medio: #24263b;
    --azul-escuro: #1f2235;
    --cor-menu-hover: #ff4a57;
    --cor-menu: #ffffff;
  }

@font-face{
    font-family:commando;
    src: url(../assets/fonts/commando.ttf);
}
#redes-sociais {
    /* border: 1px solid green; */
    margin-top: 100px;
    width: 349px;

}

#redes-sociais img {
 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px ;
    background-color: white;
    transform:  scale(1);
    transition: 0.5s;



}

#redes-sociais img:hover {
    background-color: grey;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

#redes-sociais a {

    display: inline;
    width: 50px;
    height: 50px;
    margin-right:30px ;
}

#nome {
    /* border: 1px solid green; */
    height: 82px;
    width: 563px;
    font-size: 58px;
    margin-left: 3px;

}

#p-nome {
    margin-left: 3px;
}

#nome {
    width: 563px;
    font-size: 58px;
    overflow: hidden;
    white-space: nowrap;
    width: 563px;
    animation: escrever 2s steps(30) ,cursor_piscando .5s infinite;
  


}


@keyframes escrever {
    from {

        width: 0%;
    }
    
    to{
        width: 563px;
    }
}


@keyframes cursor_piscando {
    from,
    to {
        border-right: 3px solid white;
 
    }

    50% {
        border-right: none;
    }
}

.logo-bruno {
    display: inline;
    font-family: commando;
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-size: 45px;
    height: 103px;
    width: 43px;
}

.logo-bruno:hover {
    color: var(--cor-menu-hover);
    cursor: pointer;
    transition: 0.5s;
    
    
}