@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}

:root {
  --azul-medio: #24263b;
  --azul-escuro: #1f2235;
  --cor-menu-hover: #ff4a57;
  --cor-menu: #ffffff;
  --cor-skills: #2222fa;
  --barra-vazia:rgba(54,80,280,9);
}

/* ::-webkit-scrollbar {
  width: 0px;
} */

html,body {
  height: 100%;
}

body {
  background: var(--azul-medio);
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

header {
  background: var(--azul-escuro);
  min-height: 70px;
  padding: 30px 0;
}

header div {
  width: 1170px;
  margin: 0 auto;
}

/* =============================== ESTRUTURA DO MENU DO SITE ======================= */

#menu {
  float: right;
}

#menu a {
  color: var(--cor-menu);
  text-decoration: none;
  padding: 12px 20px;
  font-size: 18px;
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;

}

#menu a {
  transition: 0.9s;
}

#menu a:hover {
  color: var(--cor-menu-hover);
  transform: none;
  transition: 0.5s;
}

#menu a.ativo {
    background: var(--cor-menu-hover);
    color: var(--cor-menu);
    box-shadow: 13px 10px 10px -1px rgba(0,0,0,0.84);
}

#menu .ativo:hover {
    color: darkgray;
    transition: 05.s;
}

/* ==================== conteúdo do site  ========================== */ 

.container {
  /* border: 1px solid green; */
  width: 1170px;
  height: calc(105% - 255px);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

section {
  /* border: 1px solid green;  */
  width: 100%;
  color: var(--cor-menu);
}

aside {
  display: inline-block;
  vertical-align: top;
}

aside:first-child {
  width: 660px;
  margin-right: 100px;
}

aside:last-child {
  width: 400px;
}

.bruno {
  width: 80%;
  background: white;
  padding: 10px 10px 80px 10px;
  transform: rotate(6deg);
  transition: 290ms;
  box-shadow: 4px 4px 40px 4px var(--azul-escuro);
  border-radius: 4px;


}


.bruno:hover {
  transform: rotate(0deg);
  transition-delay: 90ms;
  transition-duration: 260ms;
}

.more {
  /* border: 1px solid red; */
  display: flex;
  margin: 0 auto;
  width: 1170px;
  
}

.img-more {
  width: 50px;
  height: 50px;
  display: flex;
  margin: auto;
  transition: 0.8s;



}

.img-more:hover {
  transform: scale(1.3190);
  transition: 0.2s;
  cursor: pointer;



}

#certificados {
  /* border: 1px solid green; */
  width: 1170px;
  height: calc(600px);
  margin: 0 auto;
}

#certificados h1 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;
}

.certificados-quadrado {
  /* border: 1px solid green; */
  width: 485px;
  height: 360px;
  display: inline-block;
}
.certificados-quadrado{
  transition: 0.9s;
}

.certificados-quadrado:hover{
  transform: scale(1.170) rotate(180deg);
  transition: 1.5s;

}

.certificados-center {
  text-align: center;
}

