@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}

:root {
  --azul-medio: #24263b;
  --azul-escuro: #1f2235;
  --cor-menu-hover: #ff4a57;
  --cor-menu: #ffffff;
}

body {
  background: var(--azul-medio);
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

header {
  background: var(--azul-escuro);
  min-height: 70px;
  padding: 30px 0;
}

header div {
  width: 1170px;
  margin: 0 auto;
}

/* =============================== ESTRUTURA DO MENU DO SITE ======================= */

#menu {
  float: right;
}

#menu a {
  color: var(--cor-menu);
  text-decoration: none;
  padding: 12px 20px;
  font-size: 18px;
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;
}

#menu a:hover {
  color: var(--cor-menu-hover);
}

#menu a.ativo {
    background: var(--cor-menu-hover);
    color: var(--cor-menu);
    box-shadow: -webkit-box-shadow 13px 10px 10px -1px rgba(0,0,0,0.84);
    -moz-box-shadow: 13px 10px 10px -1px rgba(0,0,0,0.84);
    box-shadow: 13px 10px 10px -1px rgba(0,0,0,0.84);

}

#menu .ativo:hover {
    color: darkgray;

}

/* ==================== conteúdo do site  ========================== */ 

.container {
  /* border: 1px solid green; */
  width: 1170px;
  height: calc(100% - 105px);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

section {
  /* border: 1px solid red; */
  width: 100%;
  color: var(--cor-menu);
}

aside {
  display: inline-block;
  vertical-align: top;
}

aside:first-child {
  width: 660px;
  margin-right: 100px;
}

aside:last-child {
  width: 400px;
}

.bruno {
  width: 80%;
  background: white;
  padding: 10px 10px 80px 10px;
  transform: rotate(6deg);

}