
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

:root {
    --azul-medio: #24263b;
    --azul-escuro: #1f2235;
    --cor-menu-hover: #ff4a57;
    --cor-menu: #ffffff;
    --cor-skills: #2222fa;
    --barra-vazia:rgba(54,80,280,9);
  }
  


body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;

}

header {
    width: 100%;
    height: 120px;
    background-color: var(--azul-escuro);
    display: flex;
}

header .container {
    display: flex;
    justify-content: space-between;
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    color: white;
    transition: 0.5s;
    cursor: pointer;

    /* font-family: commando; */
}

.logo:hover {
    color: var(--cor-menu-hover);
    transform: scale(1.1);
    transition: 0.5s;
}

.nav {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav li {
    padding: 14px;
    font-size: 18px;
    color: white;
    box-sizing: border-box;

}

.nav a {
    text-decoration: none;
    color: white;
    padding: 12px 20px;
}

.nav a:hover {
    color: var(--cor-menu-hover);
}

.nav a.ativo {
    background: var(--cor-menu-hover);
    color: var(--cor-menu);
    box-shadow: 13px 10px 10px rgba(0,0,0,0.84);

} 

.nav a.ativo:hover {
    color: #ffffff9f;
}

/*==================================================== */
section .container {
    display: flex;
}

.esquerda {
    display: flex;
    flex: 1.35;
    height: calc(100%);
    align-items: center;
    justify-content: center;

}

.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    height: 100px;

}
.redes-sociais img {
    display: flex;
    width: 60px;
    transition: 0.5s;

}

.redes-sociais img:hover {
    transform: scale(1.1);
    transition: 0.5s;

}


.redes-sociais ul {
    padding: 0;
    display: flex;
    list-style: none;
    text-decoration: none;

}
.redes-sociais li {
    display: flex;
    padding: 0 20px
}

.intro  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro h1 {
    display: flex;
}

.intro p {
    display: flex;
    color: white;
    text-align: center;
}

#nome {
    width: 570px;
    font-size: 58px;
    overflow: hidden;
    white-space: nowrap;
    animation: escrever 2s steps(30) ,cursor_piscando .5s  ;
    color: white;
}

@keyframes escrever {
    from {

        width: 0%;
    }
    
    to{
        width: 569px;
    }
}


@keyframes cursor_piscando {
    from,
    to {
        border-right: 3px solid white;
 
    }

    50% {
        border-right: none;
    }
}


#first-page {
    background: var(--azul-medio);
    height: 100%;
    padding-bottom: 10px;
    width: 100%;

}

.direita {
    display: flex;
    flex: 1;
    height: calc(100%);
    align-items: center;
    justify-content: center;
    /* margin-left: 62px ; */
}

.foto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img {
    /* width: 300px;
    height: 300px; */
    width: 75%;
    background: white;
    padding: 10px 10px 80px 10px;
    transform: rotate(6deg);
    transition: 290ms;
    box-shadow: 4px 4px 40px 4px var(--azul-escuro);
    border-radius: 4px;
    
}

.foto img:hover {
    transform: rotate(0deg);
    transition-delay: 90ms;
    transition-duration: 260ms;
}

.baixo{
    display: flex;
    flex-direction: inherit;
    width: 200px;
    height: 200px;
}